/* Main */
.main {
    position: absolute;
    top: 80px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10vh;
    height: 100%;
    margin-top: 50px;

}

/* Section 1 */
.main2 {
    position: absolute;
    top: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10vh;
    right: 0px;
    width: 100%;
}

.club-info {
    background: url(/public/assets/section1.jpg);
    width: 80%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px;
    height: 70vh;
    border-radius: 50px;
    -webkit-box-shadow: rgba(51, 51, 51, 0.25) 0px 30px 50px -12px inset, rgba(51, 51, 51, 0.3) 0px -18px 26px -18px inset;
    box-shadow: rgba(51, 51, 51, 0.25) 0px 30px 50px -12px inset, rgba(51, 51, 51, 0.3) 0px -18px 26px -18px inset;
}

.club-info p {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background: rgba(219, 198, 198, 0.2);
    padding: 5px;
    width: 50%;
    font-size: 35px;

}

.logo-b {
    border-radius: 50%;
    -webkit-user-drag: none;
    border: 4mm ridge rgb(255, 255, 255);
}

/* Section 2 */
.club-description {

    width: 80%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70vh;
}

.navigation-buttons {
    bottom: 50px;
    position: absolute;
}

.about-us button,
.navigation-buttons button {
    font-size: 16px;
    font-weight: 800;
    padding: 10px 20px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.navigation-buttons button:hover,
.about-us button:hover {
    background: rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

@-webkit-keyframes dissolveIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dissolveIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes dissolveOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes dissolveOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.about-us>div {
    -webkit-animation: dissolveIn 2s ease forwards;
    animation: dissolveIn 2s ease forwards;
}

.about-us>div.slide-out {
    -webkit-animation: dissolveOut 2s ease forwards;
    animation: dissolveOut 2s ease forwards;
}

.about-us {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 70vh;
    border-bottom: 2px solid rgb(195, 193, 193);
    position: absolute;
}

.about-us div {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 15px;
    height: 63vh;
    margin-top: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.about-us h2 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fff;
}

.about-us p {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 20px;
    color: #ccc;
}

.about-us h3 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 800;
    color: #fff;
}



/* section 4 */
.carousel01 {
    width: 80%;
    position: relative;
}

@media (max-width: 1100px) {
    .main2{
        top: 15%;
    }
    .club-description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 90%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .about-us {
        height: 100%;
    }

    .about-us div {
        height: 100%;
    }

    .club-info {
        width: 95%;
        border-radius: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 10px;
        border-radius: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .logo-b {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        -webkit-user-drag: none;
    }

    .club-info p {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 1.5em;
    }



    .carousel01 {
        width: 95%;
    }

}